
body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
    font-size: 16px;
    
    line-height: 1.6;
   
    color: #000000;
    background-image: linear-gradient(to bottom, #012611, #234a25, #4c7039, #7d974c, #b4bf60);
   
}

.header{
    background-image:url('../images/רקע.jpg');
    
        background-size: cover;
        background-position: center;
        height:200px;
 
}


#filter-dropdown {
    margin: 0 auto; 
    display: block; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#searchInput {
    margin: 10px auto; 
    display: flex;
    align-items: center;
    justify-content: center; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 40%; 
    height: 20px;
    font-size: 16px;
    padding: 15px 10px;
    border: 1px solid rgb(47, 70, 28);
    border-radius: 10px;
    outline:none;
}
#searchInput:focus {
    border-color: #0056b3;
    box-shadow: 0 0 10px 0 rgba(157, 239, 199, 0.5);
  }

  #filter-dropdown {
    width: 200px; 
    height: 40px; 
    font-size: 16px; 
    padding: 5px 10px; 
    border: 2px solid #007bff; 
    border-radius: 5px; 
    background-color: white; 
    color: #333333; 
    outline: none; 
  }
  
  #filter-dropdown:focus {
    border-color: #0056b3; 
    box-shadow: 0 0 8px 0 rgba(0,123,255,.5); 
  }

img {
    max-width: 100%;
    height: auto;
}

:root {
    font-size: 16px;
}

h1 
{
    font-size: 2rem;
    text-align: center;
    color: rgb(47, 70, 28);
    padding-top: 60px;
    
   
}

h2 {
    font-size: 1.5rem;
   
}
h3{
    font-size: 16px;
    font-weight: bold;
}

.imgsize{
    width: 150px;
    height: 150px;
    padding: 20px;
    
}

.hidden {
    display: none;
}
.container {
    border-radius: 10px; 
}


.flex-container-subjects {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
}

.flex-container-subjects li p { 
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis; 
    white-space: normal; 
    max-width: 180px;
}
.flex-container-subjects li {
    position: relative; 
    width: calc(20% - 20px);
    margin: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    text-align: center;
    background-color: #f1d6a1;
    padding: 20px;
    overflow: hidden;
}

.button { 
    position: absolute;
    bottom: 20px; 
    left: 50%;
    transform: translateX(-50%);
}



.flex-container-nav {
    display: flex;
    justify-content: flex-start; 
    align-items: start;
    flex-direction: column; 
    list-style-type: none; 
    background-color: #435932;   
    color: white;


       
}



.flex-container-nav.hide-mobile {
    display: none;

}

#nav-button{
  display: block;
}



@media only screen and (max-width: 600px) {
    .flex-container-nav {
        text-align: right; 
        position: fixed; 
        width: 150px;
        height: 250px;
        color: white;
        top: 0; 
}
.flex-container-subjects li {
    width: calc(100% - 20px); 
}


#nav-button {
    margin-bottom: 20px; 
}

#main-nav {
    margin-top: 20px; 
    
}

#main-nav li {
    margin-bottom: 10px; 
}

    
}

@media only screen and (min-width: 768px) {

    :root {
        font-size: 18px;
        
    }

  
    .flex-container-nav {
        flex-direction: row;
 
       color: white;
        
        
        
    }


    .flex-container-nav.hide-mobile {
        display: flex;
        
    }


    #main-nav li {
        padding-right: 10px; 
    }

    #nav-button {
        display: none;
    }

    .flex-container-images {
        display: flex;
        justify-content: space-between; 
    }
    
    .img-wrapper {
        flex: 0 0 calc(50% - 10px); 
        box-sizing: border-box; 
        text-align: center;
        margin-bottom: 20px; 
    }
    
   
    
}


.modal {
    display: none;
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 40%; 
    text-align: center;
    position: relative;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    left: 10px;
    top: 10px;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}